<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="androidx.car.app.MEDIA_TEMPLATES"/>
    <application>
        <profileable android:shell="true" />
        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="1"/>

        <service
            android:name=".ModernCarService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <action android:name="android.media.browse.MediaBrowserService" />
                <category android:name="androidx.car.app.category.MEDIA"/>
            </intent-filter>
        </service>
    </application>
</manifest>
